<!-- your html code here -->

<div class="container pt-5">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique in perferendis a? Iste minima nobis officiis aliquid libero laborum voluptate vel commodi adipisci, est reprehenderit doloremque, fugiat maxime! Consequuntur, nemo.</p>
    <form class="form rounded col-8 offset-2">
    
        <div class="row d-flex justify-content-end pt-2">
          <div class="col-3"> 
             <p><strong> Your E-mail </strong></p>
          </div>  
            <input class="form-control col-8 mr-2 rounded" type="email" placeholder="Your email" /> 
        </div>
        <div class="row d-flex justify-content-end pt-3"> 
            <p class="col-3"><strong> Your message </strong></p>
            <textarea class="col-8 mr-2 rounded" placeholder="Please enter your message here..." ></textarea>
        
        </div>
        <div class="row d-flex justify-content-end">
            <button class="btn btn-primary mt-3 mb-4 mr-2">Submit</button>
        </div>
    </form>
</div>